nav a {
  padding: 20px;
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
